<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>
    <title>Mods Planner</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <section class="all-modules" id="all-modules">
        <div class="module" draggable="true" id="SE101">
            <b>SE101</b>
            <p>Operating Sytems & Networking</p>
        </div>
        <div class="module" draggable="true" id="IS115">
            <b>IS115</b>
            <p>Algorithms and Programming</p>
        </div>
        <div class="module" draggable="true" id="CS203">
            <b>CS203</b>
            <p>Human-AI Collaborative Software Development</p>
        </div>
        <div class="module" draggable="true" id="IS113">
            <b>IS113</b>
            <p>Web Application Development I</p>
        </div>
        <div class="module" draggable="true" id="CS440">
            <b>CS440</b>
            <p>Foundations of Cybersecurity</p>
        </div>
        <div class="module" draggable="true" id="SE301">
            <b>SE301</b>
            <p>Advanced Programming & Design</p>
        </div>
    </section>
    <section class="plan-modules">
        <div class="semester">
            <p>Year 1 Sem 1</p>
            <div>
                <!-- <div class="module" draggable="true">
                    <b>CS203</b>
                    <p>Human-AI Collaborative Software Development</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS113</b>
                    <p>Web Application Development I</p>
                </div> -->
            </div>
        </div>
        <div class="semester">
            <p>Year 1 Sem 1</p>
            <div>
                <div class="module" draggable="true">
                    <b>CS203</b>
                    <p>Human-AI Collaborative Software Development</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS113</b>
                    <p>Web Application Development I</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS115</b>
                    <p>Algorithms and Programming</p>
                </div>
            </div>
        </div>
        <div class="semester">
            <p>Year 1 Sem 1</p>
            <div>
                <div class="module" draggable="true">
                    <b>CS203</b>
                    <p>Human-AI Collaborative Software Development</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS113</b>
                    <p>Web Application Development I</p>
                </div>
            </div>
        </div>
        <div class="semester">
            <p>Year 1 Sem 1</p>
            <div>
                <div class="module" draggable="true">
                    <b>CS203</b>
                    <p>Human-AI Collaborative Software Development</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS113</b>
                    <p>Web Application Development I</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS115</b>
                    <p>Algorithms and Programming</p>
                </div>
            </div>
        </div>
        <div class="semester">
            <p>Year 1 Sem 1</p>
            <div>
                <div class="module" draggable="true">
                    <b>CS203</b>
                    <p>Human-AI Collaborative Software Development</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS113</b>
                    <p>Web Application Development I</p>
                </div>
            </div>
        </div>
        <div class="semester">
            <p>Year 1 Sem 1</p>
            <div>
                <div class="module" draggable="true">
                    <b>CS203</b>
                    <p>Human-AI Collaborative Software Development</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS113</b>
                    <p>Web Application Development I</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS115</b>
                    <p>Algorithms and Programming</p>
                </div>
            </div>
        </div>
        <div class="semester">
            <p>Year 1 Sem 1</p>
            <div>
                <div class="module" draggable="true">
                    <b>CS203</b>
                    <p>Human-AI Collaborative Software Development</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS113</b>
                    <p>Web Application Development I</p>
                </div>
            </div>
        </div>
        <div class="semester">
            <p>Year 1 Sem 1</p>
            <div>
                <div class="module" draggable="true">
                    <b>CS203</b>
                    <p>Human-AI Collaborative Software Development</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS113</b>
                    <p>Web Application Development I</p>
                </div>
                <div class="module" draggable="true">
                    <b>IS115</b>
                    <p>Algorithms and Programming</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>